[Desktop Entry]
Type=Application
Version=0.0.0
Name=web-template
GenericName=General Application
Exec=web-template %U
Categories=Music;Media;
Keywords=Hello;World;Test;Application;
StartupNotify=true
