Maintainer: "azkadev <azkadev@noemail.com>"
Package: telegram-userbot-tdlib-template
Version: 0.0.0
Section: x11
Priority: optional
Architecture: amd64
Essential: no
Installed-Size: 0
Description: "A Telegram Client."
Homepage: "https://github.com/azkadev"
